<div class="main-page" role="main">
    <h1>
        Welcome to MoveX!
    </h1>
    <div class="card-container">
        <p>Please create a (dummy) account to use the app. You can enter anything you like as this is just a study
            project and the user data is only relevant for you to test the app.</p>
        <button mat-raised-button (click)="openUserRegistrationDialog()" color="primary" class="card">
            Sign Up
        </button>
        <button mat-raised-button (click)="openUserLoginDialog()" color="primary" class="card">
            Login
        </button>
    </div>
</div>