<router-outlet></router-outlet>

<!-- MOVED TO WELCOME-PAGE.component.html
  <div class="main-page">
  <h1>
    Welcome to myFlix!
  </h1>
  <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
    Sign Up
  </button>
  <button mat-raised-button (click)="openLoginDialog()" style="margin-right: 10px;" color="primary">
    Login
  </button>
  <button mat-raised-button color="primary" (click)="openMovesDialog()">
    All Moves
  </button>
</div> -->



<!-- dummy forms -->
<!-- <div>
  <h2>Template-driven form</h2>
  <form>
    <input type="text" id="value" name="value" [(ngModel)]="value">
    <p>You entered: {{value}}</p>
    <button (click)="getValue()">Submit</button>
  </form>
</div>

<div>
  <h2>Reactive form (aka model driven form)</h2>
  <form [formGroup]="valueForm" (ngSubmit)="onSubmit()">
    <input type="text" id="value" name="value" formControlName="input">
    <input type="text" id="username" name="username" formControlName="username">
    <button type="submit">Submit</button>
  </form>
</div> -->