.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button-wrapper {
    margin: 10px 10px 10px 10px !important;
    padding: 0;
}

.form-field {
    width: 80%;
}

.warning {
    color: red;
    padding-top: 8px;
}