  .card {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 auto; */
    justify-content: space-between;
  }

  img {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .mat-card-title {
    margin-top: 12px;
  }
  .mat-card-subtitle {
    margin: 0;
  }
  .text-item {
    padding: 5px 0 5px;
  }

  .actions {
    padding-bottom: 12px !important;
    margin: 0 !important;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .btn {
    border-radius: 4px;
    height: 35px;
    width: 80px;
    margin: 0 !important;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    cursor: pointer;
  }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

/*
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  } */