  .toolbar {
    height: 60px;
    width: 100%;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    text-align: center;
    //padding: 0 16px;
    background-color: #343a40;
    color: #f1f1f1;
    font-weight: 600;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
  }
  .heading {
    padding-top: 20px;
  }
  .nav-actions {
    position: absolute;
    top: 12px;
    right: 50px;
  }
  .nav-btn {
    border-radius: 4px;
    height: 35px;
    width: 80px;
    //margin: 0 !important;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .nav-btn:hover {
    box-shadow: 0 4px 17px rgba(255, 255, 255, 0.35);
  }


  .card-container {
    display: flex;
    margin-top: 60px;
  }

  
  .card {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 auto; */
    justify-content: space-between;
  }

  img {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .mat-card-title {
    margin-top: 12px;
  }
  .mat-card-subtitle {
    margin: 0;
  }
  .text-item {
    padding: 5px 0 5px;
  }

  .actions {
    padding-bottom: 12px !important;
    margin: 0 !important;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .btn {
    border-radius: 4px;
    height: 35px;
    width: 80px;
    margin: 0 !important;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    cursor: pointer;
  }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-icon {
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .mat-icon:hover {
    transform: translateX(-3px);
    font-size: 36px;
  }

/*
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  } */