<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="heading">Welcome to MoveX</div>

    <span class="nav-actions">
        <button mat-raised-button (click)="editProfile()" class="nav-btn" color="primary">
            Profile
        </button>
        <button mat-raised-button (click)="logout()" class="nav-btn" color="primary">
            Logout
        </button>
    </span>

</div>

<div class="card-container">
    <mat-card *ngFor="let move of moves; let i=index;" class="card">
        <!-- *ngFor directive is used to display all returned moves, with each move in its own card -->
        <div>
            <img src={{move.ImgURL}} alt={{move.Title}} width="280px" />

            <mat-card-header>
                <mat-card-title class="text-item">{{move.Title}}</mat-card-title>
                <mat-card-subtitle class="text-item">Cues: {{move.Cues}}</mat-card-subtitle>
            </mat-card-header>
        </div>
        <div>
            <mat-card-actions class="actions">
                <mat-icon *ngIf="isFav(move._id); else isNotFav" (click)="removeFav(move._id)">favorite</mat-icon>
                <ng-template #isNotFav>
                    <mat-icon (click)="addFav(move._id)">favorite_border</mat-icon>
                </ng-template>
            </mat-card-actions>
            <mat-card-actions class="actions">
                <button mat-raised-button (click)="openStyleDialog(move.Style)" class="btn" color="primary">
                    Style
                </button>
                <button mat-raised-button (click)="openSourceDialog(move.Source)" class="btn" color="primary">
                    Source
                </button>
                <a href={{move.VideoURL}} mat-raised-button class="btn" color="primary" target="_blank"
                    rel="noopener noreferrer">
                    Video
                </a><br>
            </mat-card-actions>
        </div>

        <!-- <mat-dialog-content>
            <mat-card-title>{{move.Title}}</mat-card-title>
            <mat-card-subtitle><img src={{move.ImgURL}} /></mat-card-subtitle>
        </mat-dialog-content> -->
    </mat-card>
</div>